<div class="container">
  <h2>Registration</h2>
  <div class="success-mark">
    <img src="icons/check.svg" alt="check mark" class="image" />
  </div>
  <span class="subheading"
    >Congratulations, you have successfully registered with Learn Platform! Here
    is your credentials that you can change in your account</span
  >
  <div class="text-group">
    <span><strong>User name</strong></span>
    <span>{{ username }}</span>
  </div>
  <div class="text-group">
    <span><strong>Password</strong></span>
    <span>{{ password }}</span>
  </div>

  <app-button width="full" (click)="onMyAccountClick()">My account</app-button>
  <app-button width="full" (click)="onHomeClick()">Home</app-button>
</div>
