<div class="container">
  <div class="heading-1-container">
    <h1>Hi, {{ username }}</h1>
    <span class="text-subheading1">Welcome to Learn Platform - where every day is a day to learn. Dive into the vast
      ocean of
      knowledge and empower yourself with the tools for a successful tomorrow. Happy learning!</span>
  </div>
  <div class="new-container">
    <div class="heading-2-container">
      <h2>What's new?</h2>
      <span class="text-subheading2">Do consectetur proident proident id eiusmod deserunt consequat pariatur ad ex velit
        do
        Lorem reprehenderit.</span>
    </div>
    <div class="box-group">
      <app-box title="Title" tag="Tag" src="box-1.jpg"></app-box>
      <app-box title="Title2" tag="Tag2" src="box-1.jpg"></app-box>
      <app-box title="Title2" tag="Tag2" src="box-1.jpg"></app-box>
    </div>
    <app-button>Read more articles</app-button>
  </div>
  <!--   <app-button width="full" (click)="onMyAccountClick()">My account</app-button>
  <app-button width="full" (click)="onHomeClick()">Home</app-button> -->
</div>