<section class="learn-container">
  <h1>Let's start learning</h1>
  <div class="text">Welcome to Learn Platform - where every day is a day to learn. Dive into the vast ocean of
    knowledge and empower yourself with the tools for a successful tomorrow. Happy learning!</div>

  <div class="video-container">
    <div class="responsive-iframe-wrapper">
      <iframe class="responsive-iframe" src="https://www.youtube.com/embed/DK8M-ZFjaMw?si=h7O2dmW7nxk7uZ17"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</section>
<section class="join-container">
  <div class="oval"></div>
  <img src="home/circle.svg" alt="circle" class="circle" />
  <img src="home/dots.svg" alt="dots" class="dots-right" />
  <img src="home/dots.svg" alt="dots" class="dots-left" />
  <h2>Join us</h2>
  <div class="text2">Qui ut exercitation officia proident enim non tempor tempor ipsum ex nulla ea adipisicing sit
    consequat enim elit
    cupidatat o</div>
  <app-button size="lg" (click)="onJoinButtonClick()">Join us</app-button>
</section>