<div class="profile-container">
  <h5>{{ editMode ? "Edit profile" : "My profile" }}</h5>
  @if (editMode) {
    <div class="photo-text">Profile Photo</div>
  }
  <div class="profile-header">
    <img [src]="profile.photo" alt="Profile Picture" class="profile-pic" />
    @if (!editMode) {
      <div class="status">
        <span class="label">Status</span>
        <span class="status-indicator" [class.active]="profile.isActive">{{
          profile.isActive ? "Active" : "Not Active"
        }}</span>
      </div>
    }
  </div>
  @if (!editMode) {
    <div class="profile-info">
      @for (info of profileInfo; track info) {
        <div class="info-item">
          <span class="label">{{ info.labelText }}</span>
          <span class="value">{{ info.value }}</span>
        </div>
      }
    </div>
  }
  @if (editMode) {
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="form">
      @for (field of profileInfo; track field) {
        <div class="form__control">
          <label
            [for]="field.label"
            [class.invalid]="
              profileForm.get(field.label)?.invalid &&
              profileForm.get(field.label)?.touched
            "
            >{{ field.labelText }}</label
          >
          <input
            [id]="field.label"
            [formControlName]="field.label"
            [type]="field.type || 'text'"
          />
          @if (
            profileForm.get(field.label)?.invalid &&
            profileForm.get(field.label)?.touched
          ) {
            <div>
              @if (profileForm.get(field.label)?.errors?.["required"]) {
                <div class="validation-error">
                  {{ field.label }} is required.
                </div>
              }
            </div>
          }
        </div>
      }
      <mat-slide-toggle
        formControlName="isActive"
        labelPosition="before"
        class="toggle"
        >Active</mat-slide-toggle
      >
    </form>
  }
  <div class="profile-actions">
    <app-button
      (click)="toggleEditMode()"
      [variant]="editMode ? 'primary-light' : 'primary'"
      >{{ editMode ? "Cancel" : "Edit profile" }}</app-button
    >
    @if (editMode) {
      <app-button (click)="saveProfile()">Save changes</app-button>
    }
    @if (!editMode) {
      <app-button variant="color-3">Change Password</app-button>
    }
  </div>
</div>
