.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  max-width: 584px;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
}

.profile-header {
  display: flex;
  gap: 1rem;
}

.profile-pic {
  width: 10rem;
  height: 10rem;
  border-radius: var(--border-radius-l);
  object-fit: cover;
  background: var(--primary-200);
  opacity: 1;
  overflow: hidden;
}

.status {
  padding: 0 1rem;
}

.status-indicator {
  display: block;
  font-weight: bold;
  color: var(--color-3-500);
}

.profile-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding:  0.5rem;
}

.label {
  display: block;
  font-weight: bold;
  color: var(--neutral-900);
}

.value {
  color: var(--neutral-900);
}

.profile-actions {
  display: flex;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
}

.form__control {
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: relative;

  input {
    width: 100%;
    min-width: calc(100vw - 8.25rem * 2 - 6rem - 450px);
  }

  label {
    font-weight: 700;

    &.invalid {
      color: var(--color-1-500);
    }
  }

  .validation-error {
    font-size: 0.875rem;
    line-height: 1.75rem;
    color: var(--danger-600);
  }
}

.toggle {
  font-weight: 700;

}

.photo-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}