<div class="container">
  <div class="heading-1-container">
    <h1>My Account</h1>
    <app-profile></app-profile>
  </div>
  <div class="heading-1-container">
    <h1>My Trainings</h1>
    <span class="text-subheading2">The Training Section is interactive, allowing you to engage with trainers and fellow learners, participate in quizzes, and track your progress. All our courses are flexible and adaptable to your schedule and learning speed.</span>
    <app-button routerLink="/trainings">View Trainings</app-button>
  </div>
</div>