<div class="footer-menu">
  <div class="display-none-sm">
    <div class="logo-container">
      <img src="logo.png" alt="Logo" />
      <h4>learn</h4>
    </div>
  </div>
  <section class="footer-menu-section">
    <h6>Product</h6>
    <ul class="footer-menu-list">
      <li class="footer-menu-item"><a routerLink="/">Features</a></li>
      <li class="footer-menu-item"><a routerLink="/pricing">Pricing</a></li>
    </ul>
  </section>
  <section class="footer-menu-section">
    <h6>Resourses</h6>
    <ul class="footer-menu-list">
      <li class="footer-menu-item"><a routerLink="/blog">Blog</a></li>
      <li class="footer-menu-item"><a routerLink="/">User Guide</a></li>
      <li class="footer-menu-item"><a routerLink="/">Webinars</a></li>
    </ul>
  </section>
  <section class="footer-menu-section">
    <h6>Company</h6>
    <ul class="footer-menu-list">
      <li class="footer-menu-item"><a routerLink="/about">About us</a></li>
      <li class="footer-menu-item"><a routerLink="/">Contact us</a></li>
    </ul>
  </section>
  <section class="subscribe-section">
    <div class="subscribe-section-text-container">
      <h6 class="h6-primary">Subscribe to our newsletter</h6>
      <span class="text-small"
        >For product announcements and exclusive insights</span
      >
    </div>
    <div class="email-input-container">
      <input type="email" placeholder="Enter your email" />
      <img src="mail.svg" alt="Mail" class="left" />
      <app-button size="sm">Subscribe</app-button>
    </div>
  </section>
  <div class="line-break"></div>
  <div class="select-container">
    <select class="">
      <option value="english">English</option>
      <option value="serbian">Serbian</option>
    </select>
  </div>
  <div class="footer-end">
    <span class="footer-end-item">© 2023 Learn, Inc.</span>
    <span class="text-small">•</span>
    <span class="footer-end-item"><a>Privacy</a></span>
    <span class="text-small">•</span>
    <span class="footer-end-item"><a>Terms</a></span>
  </div>
  <div class="footer-icons">
    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
      <img src="youtube.svg" alt="YouTube" class="icon" />
    </a>
    <a href="https://www.x.com" target="_blank" rel="noopener noreferrer">
      <img src="twitter.svg" alt="Twitter" class="icon" />
    </a>
    <a
      href="https://www.facebook.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="facebook.svg" alt="Facebook" class="icon" />
    </a>
  </div>
</div>
